 .text-holder{
  color:#aaaaaa;
  text-align:center;
  padding-top:40px;
}
.button-holder{
  padding-top:10px;
}
.ajax-button{
  
  display:inline-block;
  width:100px;
  height:40px;
  
  
  text-align:center;
}


.submit,.submit2{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:150px;
  height:40px;
  background-color:#111111;
  border:2px solid #FFFFFF;
  border-radius:10px;
  color:#FFFFFF;
  font-size:13px;
  cursor:pointer !important;
  outline:none;
  margin-left:-25%;
  
}

.submit:hover{
  background-color:#222222;
}

.loading{
  font-size:0;
  width:30px;
  height:30px;
  margin-top:99px;
  margin-left: 0;
  border-radius:15px;
  padding:0;
  border:3px solid #FFFFFF;
  border-bottom:3px solid rgba(255,255,255,0.0);
  border-left:3px solid rgba(255,255,255,0.0);
  background-color:transparent !important;
  animation-name: rotateAnimation;
  -webkit-animation-name: wk-rotateAnimation;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes rotateAnimation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes wk-rotateAnimation {
    0%   {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

.fa{
  color:#ffffff;
  font-size:18px !important;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-9px;
  margin-top:-9px;
  -webkit-transform:scaleX(0) !important;
  transform:scaleX(0) !important;
}

.finish{
  -webkit-transform:scaleX(1) !important;
  transform:scaleX(1) !important;
  margin-top: 10%;
  color:black;
}
.hide-loading{
  opacity:0;
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
  -webkit-transform:scale(0) !important;
  transform:scale(0) !important;
}

body{
    background: #2980b9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#contenedor-login{
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
  


}
#entradas-formulario{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: -3% auto;
    width:auto;
    flex-direction: column;
    

}

#formulario{
    margin: 7% auto;
    background-color:white;
    width: 500px;
    height:360px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 0px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 28px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 28px 0px rgba(0,0,0,0.75);
    
}

/*input{
    margin-top: 10px;
    width: 300px;
    height: 30px;
    border-radius: 15px; 
    
    
    color: black;
}*/

label{
    margin-top: 20px;
    text-align:left;
    float: left;
}

#login{
    display: inline-block;
border: none;
border-radius: 10px;
padding: 0.5rem 1.5rem;
margin: 0;
text-decoration: none;
background: #0069ed;
color: #ffffff;
font: 17px "Lato", Arial, sans-serif;
font-size: 1rem;
cursor: pointer;
text-align: center;
transition: background 250ms ease-in-out, 
        transform 150ms ease;
-webkit-appearance: none;
-moz-appearance: none;
}

#login:hover{
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#titulo{
    text-align: center;
}

h1{
    font: 28px "Lato", Arial, sans-serif;
}
::placeholder{
    text-align: center;
}

.col-3{float: left; width: 57.33%; margin: 40px 3%; position: relative;} 
input[type="text"],input[type="password"]{font: 14px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.effect-1, 
.effect-2, 
.effect-3{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}

.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}


